node_modules/**/*
node_modules
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
# macOS
.DS_Store
.vscode

# CocoaPods
/ios/Pods/

# xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/debug.xcconfig
ios/release.xcconfig

# android / intellij
build/
app/bin
.idea
.gradle
local.properties
*.iml
android/.project
android/app/.project
android/app/bin/
*.keystore